.main-header {
  background-color: rgba(235, 56, 234, 0.21);
}
.index-logo {
  background-color: rgba(62, 233, 52, 0.3);
}
.container {
  background-color: rgba(232, 249, 5, 0.21);
}
.main-navigation {
  background-color: rgba(7, 238, 2, 0.22);
}
